{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
<table class="table" border="1">
            <tr>
                <th> Name </th>
                <th> Description </th>
            </tr>

    {% for name, status in post.items() %}

            <tr>
                <td>{{ name }}</td>
                {% if name == "url" %}
                <td><a href="{{ status }}">{{ status }}</a></td>
                {% elif name == "id" %}
                <td><a href="https://chroniclingamerica.loc.gov{{ status }}">{{ status }}</a></td>
                {% else %}
                <td>{{ status }}</td>
                {% endif %}
            </tr>

    {% endfor %}


    </table>
</div>
{% endblock content %}